@tailwind base;
@tailwind components;
@tailwind utilities;

/* dashboard layout  */
.css-162wlvu-MuiPaper-root-MuiAppBar-root {
  /* border-bottom-width: 0px !important;
  background-color: #f3e8ff !important; */
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));

  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
[data-toolpad-color-scheme="dark"] .css-162wlvu-MuiPaper-root-MuiAppBar-root {
  background-color: #121212 !important;
}


.css-1m3g8jr-MuiPaper-root-MuiDrawer-paper {
  /* border-width: 0px !important; */
  background-color: #f3f4f6 !important;
  z-index: 500 !important;
 

  /* filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}
.css-ykjl82-MuiListSubheader-root {
  background-color: #f3f4f6 !important; /* Light gray background */
  font-size: 14px !important; /* Font size */
  border: 1px solid #d1d5db; /* Lighter grey border */
  padding-bottom: 45px !important;
  /* text-transform: uppercase !important; */
  font-weight: 600 !important;
  margin-top: 20px;
  /* padding-left: 60px !important; */
}

[data-toolpad-color-scheme="dark"] .css-ykjl82-MuiListSubheader-root {
  background-color: #121212 !important;
}
[data-toolpad-color-scheme="dark"] .css-1m3g8jr-MuiPaper-root-MuiDrawer-paper {
  /* border-width: 0px !important; */
  background-color: #121212 !important;
  /* filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}

[data-toolpad-color-scheme="dark"] .MuiListSubheader-root {
  background-color: #121212 !important;
  color: white !important;
}
[data-toolpad-color-scheme="dark"] .MuiListSubheader-root {
  background-color: #121212 !important;
}
.MuiTypography-h {
  content: "Catpad" !important;
}
[data-toolpad-color-scheme="dark"] {
  background-color: #121212 !important;
  color: white !important;
}
[data-toolpad-color-scheme="light"] > body {
  /* background-color: #f3e8ff;
  color: black; */
}
[data-toolpad-color-scheme="dark"] .container {
  background-color: #121212 !important;
  color: white !important;
}
.css-1gld6jr-MuiButtonBase-root-MuiListItemButton-root.Mui-selected
  .MuiTypography-root {
  /* background-color: #f3e8ff !important;
  color: black !important;
  border-right: 4px solid #A855F7;
  border-radius: 3px; */
}
[data-toolpad-color-scheme="dark"]
  .css-1gld6jr-MuiButtonBase-root-MuiListItemButton-root.Mui-selected
  .MuiTypography-root,
.Mui-selected {
  color: white !important;
  background-color: transparent !important;
}
.container {
  max-width: 600px;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
}
body{
  overflow: auto !important;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  z-index: 1000;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  position: relative;
}
[data-toolpad-color-scheme="dark"] .modal-content {
  background-color: black;
}
.ql-editor {
  border: none !important;
}
.ql-editor {
  min-height: 200px;
  /* background-color: #f7f7f7;  */
  font-size: 16px;
  padding: 16px;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
[data-toolpad-color-scheme="dark"] .theme-bg {
  background-color: #121212 !important;
}
[data-toolpad-color-scheme="dark"] .ql-picker-label::before {
  color: white !important;
}
[data-toolpad-color-scheme="dark"] .theme-text {
  color: white !important;
}

@media (max-width: 500px) {
  .css-1gld6jr-MuiButtonBase-root-MuiListItemButton-root.Mui-selected
    .MuiTypography-root,
  .Mui-selected {
    background-color: transparent !important;
  }
}
